/*responsive grid*/
* {
    box-sizing: border-box;
}

/*Container*/
body{
    margin: 0 auto;
}

.container{
    background-color: aliceblue;
    height: 600px;
}

/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px 5px;
    float:left;
    list-style:none;
}


.tab-links a {
    padding:10px 15px;
    display:inline-block;
    border-radius:3px 3px 0px 0px;
    background-color: seagreen;
    font-size:15px;
    font-weight:600;
    color: aliceblue;
    transition:all linear 0.15s;
    text-decoration: none;
    font-family: monospace;
}

.tab-links a:hover {
    background:#a7cce5;
    text-decoration:none;
}

li.active a, li.active a:hover {
    background:#fff;
    color:#4c4c4c;
}

h2.title{
    margin: 0;
}

/*----- Content of Tabs -----*/

.tab-content,input[type="submit"]{
   font-family: monospace; 
}
.tab-content {
    padding:15px;
    border-radius:3px;
    margin: 0 13%;
    box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
    background-color: darkslategrey;
    font-family: monospace;
    color: white;
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}
.tabs {
    width:100%;
    display:inline-block;
}